#latest-blog {
    display: grid;
    grid-template-columns: 100%;
    margin-top: 100px;
    margin-bottom: 50px;
    width: fit-content;

    h3 {
        color: $accent;
        font-family: "proxima-nova", monospace;
        font-weight: 400;
        font-size: 15px;
        margin: 0;
    }

    h1 {
        color: $p-text;
        font-family: "sofia-pro", sans-serif;
        font-weight: 700;
        font-size: 70px;
        margin: 0;
        transition: 0.3s;
    }

    #latest-preview {
        font-family: "proxima-nova", sans-serif;
        font-weight: 400;
        font-size: 27px;
        margin: 0;
        max-width: 60vw;
    }

    .read-time {
        font-family: "proxima-nova", sans-serif;
        font-weight: 400;
        font-size: 15px;
        margin: 0;
        filter: brightness(60%);
        margin-top: 15px;
    }
}

#latest-blog:hover {
    h1 {
        filter: brightness(75%);
    }
}

#blog-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-top: 150px;

    #latest-blogs {
        justify-self: left;

        div {
            display: flex;
            flex-wrap: nowrap;
            gap: 30px;
            align-items: center;

            h1 {
                font-size: 15px;
                font-family: "proxima-nova", sans-serif;
                font-weight: 400;
                margin: 0;
                text-wrap: nowrap;
                width: fit-content;
            }
        }
    }

    #blog-info {
        max-width: 450px;
        justify-self: right;

        #about-blog,
        #pinned-blogs,
        #topics {
            h1 {
                font-family: "sofia-pro", sans-serif;
                font-weight: 700;
                font-size: 30px;
                margin: 0;
            }

            .title {
                transition: 0.3s;
            }

            .preview {
                font-family: "proxima-nova", sans-serif;
                font-weight: 400;
                font-size: 15px;
                margin: 0;
            }

            .sec-header {
                display: flex;
                flex-wrap: nowrap;
                gap: 20px;
                align-items: center;
                margin-bottom: 10px;

                h1 {
                    font-family: "proxima-nova", sans-serif;
                    font-weight: 400;
                    font-size: 15px;
                    margin: 0;
                }
            }

            .post-info {
                display: flex;
                gap: 5px;
                flex-wrap: nowrap;
                margin-top: 5px;

                p {
                    margin: 0;
                    font-family: "proxima-nova", sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                }

                p:first-of-type {
                    color: $accent;
                }

                p:last-of-type {
                    color: $p-text;
                    filter: brightness(60%);
                }
            }
        }

        #pinned-blogs {
            margin-top: 50px;
        }

        #about-blog:hover {
            .title {
                filter: brightness(60%);
            }
        }
    }
}

.line {
    height: 1px;
    width: 100%;
    background-color: $p-text;
    filter: brightness(80%);
}

#topics {
    .sec-header {
        div {
            height: 1px;
        }
    }
}

.project-tag {
    padding: 2px 6px;
    color: $bg;
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-size: 15px;
    border-radius: 10px;
    transition: 0.3s;
    margin: 0;
}

.project-tag:hover {
    background-color: $p-text !important;
}

#project-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 50px;
}

#latest-blogs {
    a {
        margin-bottom: 50px;
    }

    .title {
        font-family: "sofia-pro", sans-serif;
        font-weight: 700;
        font-size: 50px;
        margin: 0;
    }

    .preview {
        font-family: "proxima-nova", sans-serif;
        font-weight: 400;
        font-size: 20px;
        margin: 0;
    }

    .post-info {
        display: flex;
        gap: 5px !important;
        flex-wrap: nowrap;
        margin-top: 5px;
        margin-bottom: 0;

        p {
            margin: 0;
            font-family: "proxima-nova", sans-serif;
            font-weight: 400;
            font-size: 14px;
        }

        p:first-of-type {
            color: $accent;
        }

        p:last-of-type {
            color: $p-text;
            filter: brightness(60%);
        }
    }
}

#pinned-blogs {
    a {
        padding-bottom: 50px;
    }
}