#preview-cards {
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 60px 0;
}

.preview-card {
    width: 300px;
    height: 250px;
    background-color: #222429;
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    padding: 20px;
    border-radius: 10px;

    img {
        width: 300px;
        height: 100px;
        margin-bottom: 10px;
    }

    p {
        font-family: "proxima-nova", sans-serif;
        font-size: 15px;
        margin: 0;
        width: 250px;
    }

    .learn-more {
        display: flex;
        align-items: center;
        font-weight: 700;
        gap: 10px;
        margin-top: 7px;
        i {
            transition: 0.3s;
        }

        p {
            width: fit-content;
        }
    }

    .learn-more:hover {
        i {
            transform: translateX(4px);
        }
    }
}