<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://use.typekit.net/skc6ria.css">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
    <script src="https://kit.fontawesome.com/e3190c0fb8.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.title }}</title>
  </head>
  <body>
    <!-- Navigation Bar -->
    <section id="nav">
      <a href="/"><div id="nav-logo">
        <img src="assets/logo.png" alt="taupau engineering logo"/>
        <h1>TauPau Engineering</h1>
      </div></a>
      <div id="links">
        <a class="nav-link" href="/projects">Projects</a>
        <a class="nav-link" href="/blog">Blog</a>
        <a class="nav-link" href="/about">About Us</a>
        <a id="special" class="nav-link" href="/discord" target="_blank">Discord</a>
      </div>
    </section>
    {{ content }}
  </body>
</html>